<!doctype html>
<html lang="en" class="no-js">
<head>
  {% include "partials/head.njk" %}
</head>
<body class="{{ bodyClass }}">
  <a class="skip-link" href="#main">Skip to main content</a>
  {% include "partials/banner.njk" %}
  {% include "partials/header.njk" %}
  <main id="main" tabindex="-1">
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}
  <script src="{{ '/js/site.js' | versioned }}" defer></script>
</body>
</html>
